@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

html {
    background-color: #221F1F; 
}

* {
    margin: 0;
    padding: 0;
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

a {
    text-decoration: none;
}

.wrapper {
    background: #221F1F;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.hero {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.hero img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.img-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0 4px 15px rgba(0,0,0,0.7);
    pointer-events: none;
}

header {
    padding: 30px 0;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #c01313;
}

header nav ul li a {
    color: #ffffff;
}

header nav ul li.active a {
    position: relative;
}

header nav ul li.active a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: #c01313;
}

header nav ul li.btn a {
    background: #c01313;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover {
    background: #960909;
}


/* track pad*/
.trending {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    align-self: center;
}

.films-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.films-window {
    width: 1100px;
    overflow: hidden;
}

.films-track {
    display: flex;
    transition: transform 0.4s ease;
}

.film {
    width: 220px;
    flex-shrink: 0;
    text-align: center;
}

.film img {
    width: 200px;
    border-radius: 12px;
}

/* стрілки */
.arrow {
    background: none;
    border: none;
    color: red;
    font-size: 48px;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.2);
}
